<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level[%thread] [%class] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.herminiogarcia.shexml.Main" level="off"/>
    <logger name="com.herminiogarcia.shexml.MappingLauncher" level="off"/>
    <logger name="com.herminiogarcia.shexml.visitor.RDFGeneratorVisitor" level="off"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>